import { EditorRED, EditorNodeProperties } from "node-red";
import { <%NodeTypePascalCase%>Options } from "../options";

interface <%NodeTypePascalCase%>EditorNodeProperties
  extends EditorNodeProperties,
    <%NodeTypePascalCase%>Options {}

declare const RED: EditorRED;

RED.nodes.registerType<<%NodeTypePascalCase%>EditorNodeProperties>("<%NodeTypeKebabCase%>", {
  category: "function",
  color: "#a6bbcf",
  defaults: {
    name: { value: "" },
  },
  inputs: 1,
  outputs: 1,
  icon: "file.png",
  paletteLabel: "<%NodeLabel%>",
  label: function () {
    return this.name || "<%NodeLabel%>";
  },
});
