import { EditorRED, EditorNodeProperties } from "node-red";
import { <%NodeTypePascalCase%>Options } from "../types";

interface <%NodeTypePascalCase%>EditorNodeProperties
  extends EditorNodeProperties,
    <%NodeTypePascalCase%>Options {}

declare const RED: EditorRED;

RED.nodes.registerType<<%NodeTypePascalCase%>EditorNodeProperties>("<%NodeTypeKebabCase%>", {
  category: "config",
  defaults: {
    name: { value: "" },
  },
  label: function () {
    return this.name || "<%NodeLabel%>";
  },
});
