import { Node, NodeDef } from "node-red";

export interface <%NodeTypePascalCase%>Options {
  // node options
}

export interface <%NodeTypePascalCase%>NodeDef extends NodeDef, <%NodeTypePascalCase%>Options {}

export interface <%NodeTypePascalCase%>Node extends Node {}
